In [8]:
6>>+2

1

In [18]:
a=1
b=2
a=a+b
b=a-b
a=a-b
print(a,b)

2 1

In [24]:
2/2

1.0

In [30]:
a=10
b=4
a=a*b
b=a/b
a=a/b
print(a,b)

4.0 10.0

In [32]:
a=2
b=4
a=a^b
b=a^b
a=a^b
print(a,b)

4 2

In [36]:
dict={'a':10,'b':20}
print(dict)
dict['a']=dict['a']+dict['b']
dict['b']=dict['a']-dict['b']
dict['a']=dict['a']-dict['b']
print(dict['a'],dict['b'])

{'a': 10, 'b': 20}
20 10

In [38]:
dict={'a':10,'b':20}
print("before swap")
print(dict)
dict['a'],dict['b']=dict['b'],dict['a']
print("after swap")
print(dict)

before swap
{'a': 10, 'b': 20}
after swap
{'a': 20, 'b': 10}

In [42]:
a,b,c=-8,4,99
a=a+b+c
b=a-b-c
c=a-b-c
a=a-b-c
print(a,b,c)

99 -8 4

In [46]:
a,b,c=-8,4,99
a=a*(b*c)
b=a/b/c
c=a/b/c
a=a/b/c
print(a,b,c)

99.0 -8.0 4.0

In [ ]:
print([i for i in range(1,11)])

In [ ]:
 print([i for i in range(1,11) if i%2==0])

In [56]:
print([i for i in range(1,11) if i%2!=0])

[1, 3, 5, 7, 9]

In [60]:
print([i**2 for i in range(1,11)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
print([[i*j for j in range(3)] for i in range(3)])

[[0, 0, 0], [0, 1, 2], [0, 2, 4]]

In [70]:
print([[i for j in range(3)] for i in range(3)])

[[0, 0, 0], [1, 1, 1], [2, 2, 2]]

In [74]:
print([[i for j in range(3)] for i in range(3) if i%2==0])

[[0, 0, 0], [0, 2, 4]]

In [92]:
#reverse number
n=int(input("enter number:"))
print("original number:",n)
rnum=0
while n>0:
    r=n%10
    rnum=rnum*10+r
    n//=10
print("reverse number",rnum)

enter number: 3456

original number: 3456
reverse number 6543

In [96]:
n=int(input("enter number:"))
print("original number:",n)
rnum=int(str(n)[::-1])
print("reverse number",rnum)

enter number: 098765

original number: 98765
reverse number 56789

In [102]:
#list comprahenction for reversing a number
n=int(input("enter number:"))
print("original number:",n)
rnum=int(''.join([str(n)[i] for i in range(len(str(n))-1,-1,-1)]))
print("reverse number",rnum)

enter number: 23575

original number: 23575
reverse number 57532

In [3]:
#nested list comprahenctions on 2d matrix to latten
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat= [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#list comprahencions logical condions/ replace negative num to zero
#using if-else

nums=[-1,-8,-7,0,1,2,3]
neg = [ x if x>=0 else 0 for x in nums]
print(neg)

[0, 0, 0, 0, 1, 2, 3]

In [20]:
# string LC / transulation of string
words=['Audi','BMW','TATA']
low=[word[1] for word in words]
print(low)

['u', 'M', 'A']

In [24]:
words=['Audi','BMW','TATA']
low=[len(word) for word in words]
print(low)

[4, 3, 4]

In [32]:
#filtering none values in a LC removing all nine in the list
items = [1,2,None,3,None,4,None,None,5,6,7]
remain = [x for x in items if x is not None]
print(remain)

[1, 2, 3, 4, 5, 6, 7]

In [38]:
#tuple pairing using list comprahenction
names = ['vijay','will']
nums = [6904,6689]
pair = [(names,num) for names in names for num in nums]
print(pair)

[('vijay', 6904), ('vijay', 6689), ('will', 6904), ('will', 6689)]

In [46]:
text = "Hello Students"
print([i for i in text.lower() if i in 'aeiou'])

['e', 'o', 'u', 'e']

In [52]:
text = "Hello Students"
print([i for i in text.lower() if i not in 'aeiou'])

['h', 'l', 'l', ' ', 's', 't', 'd', 'n', 't', 's']

In [70]:
#patterns

for i in range(3):
    for j in range(3):
        print("*",end=" ")
    print()

* * *
* * *
* * *

In [1]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        print('*', end = " ")
    print(" ")

Enter Num: 4

* * * *
* * * *
* * * *
* * * *

In [3]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        print(i, end = " ")
    print(" ")

Enter Num: 4

0 0 0 0
1 1 1 1
2 2 2 2
3 3 3 3

In [5]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        print(j, end = " ")
    print(" ")

Enter Num: 5

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [7]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 5

* * * * *
*       *
*       *
*       *
* * * * *

In [11]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 7

* * * * * * *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
* * * * * * *

In [23]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or i==j or (i+j)==n-1:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 7

* * * * * * *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
* * * * * * *

In [25]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or i==j or (i+j)==n-1:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 7

* * * * * * *
  *       *
    *   *
      *
    *   *
  *       *
* * * * * * *

In [27]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if  j==0 or j==n-1 or i==j or (i+j)==n-1:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 7

*           *
* *       * *
*   *   *   *
*     *     *
*   *   *   *
* *       * *
*           *

In [33]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if i==j or (i+j)==n-1:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 8

*             *
  *         *
    *     *
      * *
      * *
    *     *
  *         *
*             *

In [37]:
n = int(input("Enter Num:"))
for i in range(n):
    for j in range(n):
        if i==j or i==n-1 or j==0:
            print("*", end = " ")
        else:
            print(" ", end= " ")
    print(" ")

Enter Num: 7

*
* *
*   *
*     *
*       *
*         *
* * * * * * *

In [1]:
n=7
upper = [" " *(n-i-1)+ "*" * (2*i+1) for i in range(n)]
lower = [" " *(i+1)+ "*" *(2*(n-i-2) +1) for i in range(n-1)]
for line in upper+lower:
    print(line)

      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [17]:
n=int(input("enter number:"))
for i in range(n):
    space = " " *(n-i-1)
    star = "*" *(2*i+1)
    print(space+star)
for i in range(n-1):
    space = " " *(i+1)
    star = "*" *(2*(n-i-2)+1)
    print(space+star)

enter number: 5

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [82]:

#nexted loops
n = 1
r=4
for i in range(1,r+1):
    for j in range(1,i+1):
        print(n, end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [3]:
# arguments pass with return value
def add(a,b):
    return a+b
    
result = add(11,12)
print(result)

23

In [5]:
#argument pass no return value
def hi(name):
    print("good morning",name)
hi("student")

good morning student

In [13]:
#no argument with return value
def hi():
    return "kabaddi"
text=hi()
print(text)

kabaddi

In [17]:
#no argument no return 
def hi():
    print("kabaddi")
hi()

kabaddi

In [23]:
def hi(text):
    return f"barath, {text}!!!!"
print(hi("India"))

barath, India!!!!

In [30]:
#functions with default args

def result(a,b):
    return a*b
#result(5)
result(5,2)

10

In [34]:

def result(a,b=2):
    return a*b
result(5)

10

In [36]:

def result(a,b):
    return a*b
result(b=4,a=3)

12

In [38]:
def result(a=3,b=2):
    return a*b
result()

6

In [44]:
# function with variable args -- (*args)
def total(*args):
    return sum(args)
print(total(1,2,3,4,5))
print(total(11,22,33,44,55))

15
165

In [52]:
# function with keyword args -- (*kwargs)
def info(**kwargs):
    for key , value in kwargs.items():
        print(f"{key}:{value}")
info(name='keerthi', height=5.4, city='MYM')

name:keerthi
height:5.4
city:MYM

In [67]:
''' write a program to take A list in to consideratio [1,2,3,4,5]. pass the list as arguments and return the minimum , maximum and average of these values from a single funcion
output:- minimum:1, maximum:5, average:3.0'''

def values(n):
    return min(n), max(n), sum(n)/len(n)
min_val,max_val,avg=values([1,2,3,4,5])
print(f" MINIMUM:{min_val}, MAXIMUM:{max_val},AVERAGE:{avg}")

 MINIMUM:1, MAXIMUM:5,AVERAGE:3.0

In [75]:
#lambda function
square=lambda x:x*x
print(square(4))
add=lambda a,b,c:(a+b)/c
print(add(1,3,4))

16
1.0

In [77]:
#direct recursion
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
print(fact(5))

120

In [92]:
#super factorial--- factorial of the factorial
def sup_fact(n):
    if n<=1:
        return 1        
    return fact(n)*sup_fact(n-1)
def fact(n):
    if n<=1:
        return 1
    return n*fact(n-1)
print(fact(4))

print(sup_fact(4))

24
288

In [ ]:
#power tower
def pt(a,n):
    if n==1:
        return a
    return a**pt(a,n-1)
print(pt(3,4))